body {
    background: white;
}

h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.kontainer {
    width: 800px;
    padding: 2em;
    margin: 1em auto;
    background-color: rgb(179, 179, 179);
    border-radius: 1em;
}   
form {
    margin: 2em;
    padding: 2em;
    background: rgb(228, 219, 219);
    border-radius: 1em;
}
nav {
    margin-left: 14em;
}